@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: rgb(248, 248, 248, 1);
  --foreground: rgba(24, 24, 27, 1);

  --primary: rgba(39, 39, 42, 1);
  --primary-foreground: rgba(250, 250, 250, 1);

  --secondary: rgba(249, 250, 251, 1);
  --secondary-foreground: rgba(39, 39, 42, 1);

  --muted: rgba(245, 245, 245, 1);
  --muted-foreground: rgba(113, 113, 122, 1);

  --accent: rgba(245, 245, 245, 1);
  --accent-foreground: rgba(39, 39, 42, 1);

  --destructive: rgba(239, 68, 68, 1);

  --border: rgba(228, 228, 231, 1);
  --ring: rgba(161, 161, 170, 1);
}

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "Monaco", "Menlo", monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-ring: var(--ring);

  --shadow-thin: 0px 1px 0.5px 0.05px #1d293d05;
  --shadow-subtle1: 0px 1px 2px -1px #0000001a;
  --shadow-subtle2: 0px 1px 3px 0px #0000001a;
  --shadow-subtleCombo: 0px 1px 2px -1px #0000001a, 0px 1px 3px 0px #0000001a;
}

@layer base {
  *,
  ::before,
  ::after {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
